/*  FOLHA DE ESTILOS DA PAGINA DE CADASTRO  */

#title{
    margin: 2rem 0;
    text-align: center;
}

/*  CONFIGURAÇÃO DO FORMULÁRIO DE CADASTRO  */

.register{
    border: 3px solid #999;
    border-radius: 2rem;
    background-color: #eee;
    width: 600px;
}

.register .form{
    padding: 3rem 1 rem;
    margin: 25px;
}

/*  CONFIGURAÇÃO DO BOTÃO   */
.button{
    text-align: center;
    margin-bottom: 30px;
}

#button2{
    width: 150px;
    height: 50px;

}

/*  CONFIGURAÇÃO DO RODAPÉ  */